<h1>{{title}}</h1>

<div class="container-sm text-center">
    <form class="form-signin" method="POST" action="/login">

        {{#if show_invalid_div }}
        <div class="alert alert-danger alert-sm">
            Mauvais login.
        </div>
        {{/if }}

        {{#if show_error_div }}
        <div class="alert alert-danger alert-sm">
            Une erreur s'est produite. Réessayez.
        </div>
        {{/if }}

        {{#if show_disconnect_div }}
        <div class="alert alert-info alert-sm">
            Vous avez bien été déconnecté(e).
        </div>
        {{/if }}
        
        <input type="text" class="form-control" id="username" name="username" placeholder="nom.prenom" pattern="[a-zA-Z]*\.[a-zA-Z]*">
        <input type="password" class="form-control" id="pswd" name="pswd" placeholder="mot de passe">
    
        <button class="btn btn-lg btn-danger btn-block my-2" type="submit">Connexion</button>

        <a class="" href="/signup">Créer un compte.</a>
    </form>
</div>

<style>
input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>