<h1>{{title}}</h1>
<div class="container-sm text-center">
    <form method="POST" action="signup/insert">
        <div class="form-group">
            <label for="firstname">Prénom :</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom">
        </div>
        <div class="form-group">
            <label for="lastname">Nom :</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom">
        </div>

        <div class="form-group">
            <label for="pwd">Mot de passe :</label>
            <input type="password" class="form-control" id="pwd" name="lastname" placeholder="Désactivé pour la démo !" disabled=true>
        </div>

        <div class="form-group">
            <label class="radio-inline"><input type="radio" id="radio_student" name="account_type" value="student" checked> Elève </label>
            <label class="radio-inline ml-2"><input type="radio" id="radio_admin" name="account_type" value="admin"> Administrateur</label>
        </div>
        <div class="form-group" id="div_promo">
            <label for="promo">Promotion :</label>
            <select class="form-control" id="promo" name="promo">
            </select>
        </div> 
        
        <button class="btn btn-lg btn-danger btn-block" type="submit">Valider</button>
    </form>
</div>

<script src="/javascripts/promos.js"></script>

<script>
    for (let p in promos) {
        $("#promo").append($('<option>', {
            value: p,
            text: promos[p]
        }));
    }

    // When the user selects an account type, show or hide the "promo" accordingly
    $("input[name='account_type']").change(function() {
        if ($("#radio_student").prop("checked") === true) {
            $("#div_promo").show("slow");  // Show the promo choice
        } else {
            $("#div_promo").slideUp();  // Hide the promo choice
        }
    });

    
</script>