<h1>{{title}}</h1>
<script>
  setTimeout(function () {
     // after 8 seconds
     window.location = "/";
  }, 8000)
</script>
<p>Echèc, votre compte n'a pas été crée. Nom de l'erreur : "{{error_str}}". </p>
<p>Vous allez être redirigé automatiquement. Sinon cliquez <a href="/">ici</a>.</p>