<h1>{{title}}</h1>
<script>
  setTimeout(function () {
     // after 4 seconds
     window.location = "/student";
  }, 4000)
</script>
<p>Succès, votre voyage à été crée. Vous allez être redirigé automatiquement.</p>
<p>Vous pouvez aussi <a href="/student">cliquer ici</a>.</p>