<h1>Mobilités TSE</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6" id="panel-left">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{firstname}}, bienvenue.</h5>
                    <p class="card-text">Bla bla.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" id="panel-trips">
            <div class="card">
                <div class="card-header">Voyages</div>
                <div class="card-body">
                    <div class="list-group">
                        {{!-- https://getbootstrap.com/docs/4.0/migration/#list-groups --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 {{!-- <div class="container">

    <noscript>
        <div class="alert alert-danger"><strong>Merci d'activer JavaScript dans votre navigateur pour utiliser le portail des relations industrielles.</strong></div>
    </noscript><div class="col-sm-6" id="panel-search">
    <div class="panel panel-default">
        <div class="panel-heading">Rechercher dans l'annuaire</div>
        <div class="panel-body">
            <form class="form-signin"  method="get">
                <div class="form-group">
                    <label for="subject" class="sr-only">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Lettres du nom ou du prénom" value="enzo" >
                </div>

                <div class="form-group">
                    <label for="name" class="sr-only">Entreprise</label>
                    <input type="text" class="form-control" id="entreprise" name="entreprise" placeholder="Lettres du nom de l'entreprise" value="">
                </div>

                <div class="form-group">
                </div>
          
          		<div class="form-group">
            		<label for="groupes" class="sr-only">Groupes</label>
            		<!--<input type="text" class="form-control" id="groupe" name="groupe" placeholder="Préfixe du nom du groupe" value="">-->
            		<div class="alert alert-info alert-sm">Liste des membres appartenant à l'un de ces groupes : </div>
            
           			<select class="form-control" id="groupe2" name="groupe2[]" multiple="multiple" class="select2">
                </div>
          		<input type="submit" class="btn btn-danger" value="Chercher">
       		</form>
	        <form  method="get" action="trombinoscope.php">
	        	<input type="submit" class="btn btn-warning pull-right btn-sm" value="Trombinoscopes">
	        </form>
    	</div>
    </div>
</div>

<div class="col-sm-6" id="panel-results">
  	<div class='panel panel-default'><div class='panel-heading'>Résultats de recherche sur nom=enzo</div><div class='panel-body'><div class='list-group'><a href='./annuaire_fiche.php?id=chausse-gascou.enzo'  class='list-group-item'>CHAUSSE-GASCOU Enzo</a><a href='./annuaire_fiche.php?id=dherat.enzo'  class='list-group-item'>DHÉRAT Enzo</a><a href='./annuaire_fiche.php?id=fournier.enzo'  class='list-group-item'>FOURNIER Enzo</a><a href='./annuaire_fiche.php?id=lievoux.enzo'  class='list-group-item'>LIEVOUX Enzo</a><a href='./annuaire_fiche.php?id=martinez.enzo'  class='list-group-item'>MARTINEZ Enzo</a><a href='./annuaire_fiche.php?id=sana.enzo'  class='list-group-item'>SANA Enzo</a></div></div></div> 
   
</div> --}}