<h1>Mobilités TSE</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6" id="panel-left">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{firstname}}, bienvenue.</h5>
                    <p class="card-text">Bla bla.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" id="panel-trips">
            <div class="card">
                <div class="card-header">Voyages</div>
                <div class="card-body">
                    <div class="list-group" id="trip-list">
                        {{!-- https://getbootstrap.com/docs/4.0/migration/#list-groups --}}
                        {{#each trips}}
                        <a class="list-group-item" href="">{{this.display_name}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>